// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;

$green: #75BF30;
$light-gray: #dadada47;
$gray: #646464;
$black: #1E1E1E;
$violet: #8F3FAE
