<div class="navbar">
  <a href="/">Accueil</a>
  <a href="/">Mes projets</a>
  <a href="/">Contact</a>
</div>

<div class="header-profil">
  <div class="title">
    <h1>Thomas <span>Le Véo</span></h1>
    <h4>Web developpeur Full Stack</h4>
  </div>
  <div class="presentation-profil">
    <div class="column">
      <h3>Truc bidule</h3>
    </div>
    <div class="column">
      <%= image_tag("profil.png", alt: "avatar", class: "avatar") %>
    </div>
    <div class="column">
      <h3>Truc bidule</h3>
    </div>
  </div>
</div>

<div class="projects container">
<h2 class="title">Mes projet</h2>
  <div class="grid">
    <div class="card-grid">
      <h4 class="card-title">TourPic Explorer</h4>
      <div class="card-description">
        <p>
          Application mobile créée sous Rails, en groupe de 3 pendant 2
          semaines. Le but de l'application est de redécouvrir la ville de
          Lyon à travers un défi photo pour inciter l'utilisateur à se rendre
          sur le lieu. Plusieurs challenges sont disponibles, et un classement
          entre amis disponible.
        </p>
        <%= link_to "Plus d'info", "https://github.com/ThompsonLV/TOURPIC_EXPLORER", class: "button" %>
      </div>
    </div>
    <div class="card-grid">
      <h4 class="card-title">FanesDeToi</h4>
      <div class="card-description">
        <p>
          Application web, qui reprends la base de Airbnb, mais pour la vente de ventilateur.
          Projet réalisé en groupe de trois, sur une semaine.
        </p>
        <%= link_to "Plus d'info", "https://github.com/ThompsonLV/FanesDeToi", class: "button" %>
      </div>
    </div>
    <div class="card-grid">
      <h4 class="card-title">Movies</h4>
      <div class="card-description">
        <p>
          Application web, qui reprends la base de Airbnb, mais pour la présentation de films.
          Projet réalisé en solitaire.
        </p>
        <%= link_to "Plus d'info", "https://github.com/ThompsonLV/testmovie", class: "button" %>
      </div>
    </div>
  </div>
</div>
