.avatar-home {
  height: 100vh;
  object-fit: cover;
  filter: grayscale(100%);
}

.small-avatar-shadowed{
  height: 600px;
  margin-right: 28px;
  border-radius: 24px;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 50px $violet;
  }
  to {
    box-shadow: 0px 0px 90px $violet;
  }
}
