.avatar-home {
  height: 100vh;
  object-fit: cover;
  filter: grayscale(100%);
}

.small-avatar-shadowed{
  height: 600px;
  margin-right: 28px;
  border-radius: 24px;
  box-shadow: -12px 12px 22px $violet
}
