.button {
  text-decoration: none;
  color: white;
  background: rgba(67,83,52,1);
  padding: 6px 20px;
  border-radius: 20px;
  align-self: center;
  transition: 200ms;

  &:hover {
    background: rgba(67,83,52,0.5);
  }
}
