
@media (max-width: 2000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

@media (max-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}

@media (max-width: 770px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}

.card-title {
  padding: 8px;
  background: rgba(67,83,52,0.9);
  border-radius: 30px;
  margin-bottom: 12px;
  text-align: center;
  color: white;
  transform: translate(22%, 50%);
  width: 70%;
}

.card-description {
  padding: 28px;
  background: rgba(206,222,189, 1);
  border-radius: 12px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
