.large-text{
  font-weight: bold;
}

.highlighted-text-violet{
  color: $violet;
  display: block;
}

.text-green{
  color: $green;
}

.h1{
  font: 5rem;
  color: white;
}

.h2{
  margin-bottom: 36px;
}

.subtitle{
  margin-bottom: 4rem;
  border-bottom: 2px solid $violet;
  padding-bottom: 12px;
}
