.header-profil {
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #052659;
}


.title {
  padding: 24px;
  margin-bottom: 24px;

  h1, h4 {
    color: white;
  }
}

.presentation-profil {
  display: flex;
}

.column {
  flex-grow: 1;
}
