// Import your components CSS files here.
@import "form_legend_clear";
@import "home";
@import "my-profil";
@import "my-skills";
@import "my-projects";
@import "avatar";
@import "button";
@import "font";
@import "ratio";

.page{
  height: 100vh;
  display: flex;
  align-items: center;
}
