.my-skills{
  margin: 0 100px 0 100px;
  flex-grow: 1;
}

.all-skills{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  margin-bottom: 24px;
}

.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  span{
    position: absolute;
    bottom: 57%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
  }
}

.skill-title{
  margin-top: 24px;
}

.ratio{
  position: relative;
  border: 12px solid $green;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
