.my-project{
  margin-bottom: 5em;
  flex-grow: 1;
}

.all-projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px
}

.project{
  width: auto;
  border-radius: 8px;
  overflow: hidden;

  img{
    height: 12rem;
    width: 100%;
    object-fit: cover;
    border-bottom: 4px solid $green;
  }
}

.short-description{
  background-color: $gray;
  padding: 10px 20px;

  p{
    margin: 0px;
  }
}

@media only screen and (max-width: 1000px){
  .all-projects{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px){
  .all-projects{
    grid-template-columns: 1fr;
  }
}
