.my-project{
  margin: 0 100px 0 100px;
  flex-grow: 1;
}

.all-projects{
  display: flex;
}

.project{
  width: 24rem;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 24px;

  img{
    height: 12rem;
    width: 100%;
    object-fit: cover;
    border-bottom: 4px solid $green;
  }
}



.short-description{
  background-color: $gray;
  padding: 10px 20px;

  p{
    margin: 0px;
  }
}
