svg{
  height: 150px;
  width: 150px;
}

svg circle{
  fill: none;
  stroke: $green;
  stroke-width: 10px;
  transform: translate(5px, 5px);
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
  stroke-linecap: round;

}

svg circle:nth-child(1){
  stroke: $light-gray;
  stroke-dashoffset: 0;
}

// Sans animation
svg .circle1:nth-child(2){
  animation: none;
}

svg .circle2:nth-child(2){
  animation: none;
}

svg .circle3:nth-child(2){
  animation: none;
}

svg .circle4:nth-child(2){
  animation: none;
}

svg .circle5:nth-child(2){
  animation: none;
}

svg .circle6:nth-child(2){
  animation: none;
}

svg .circle7:nth-child(2){
  animation: none;
}

// Avec animation qui s'active via le JS animated-circle (quand on voit le svg)
svg .circle1:nth-child(2).visible{
  animation: sevenPourcent 3s ease-out forwards;
}

svg .circle2:nth-child(2).visible{
  animation: sevenPourcent 3s ease-out forwards;
}

svg .circle3:nth-child(2).visible{
  animation: fivePourcent 3s ease-out forwards;
}

svg .circle4:nth-child(2).visible{
  animation: sevenPourcent 3s ease-out forwards;
}

svg .circle5:nth-child(2).visible{
  animation: threePourcent 3s ease-out forwards;
}

svg .circle6:nth-child(2).visible{
  animation: fourPourcent 3s ease-out forwards;
}

svg .circle7:nth-child(2).visible{
  animation: fivePourcent 3s ease-out forwards;
}

@keyframes onePourcent{
  0%{
    stroke-dashoffset: 440px;
  }
  100%{
    stroke-dashoffset: 440px;
  }
}

@keyframes twoPourcent{
  0%{
    stroke-dashoffset: 440px;
  }
  100%{
    stroke-dashoffset: 396px;
  }
}

@keyframes threePourcent{
  0%{
    stroke-dashoffset: 440px;
  }
  100%{
    stroke-dashoffset: 352px;
  }
}

@keyframes fourPourcent{
  0%{
    stroke-dashoffset: 440px;
  }
  100%{
    stroke-dashoffset: 308px;
  }
}

@keyframes fivePourcent{
  0%{
    stroke-dashoffset: 440px;
  }
  100%{
    stroke-dashoffset: 220px;
  }
}

@keyframes sixPourcent{
  0%{
    stroke-dashoffset: 440px;
  }
  100%{
    stroke-dashoffset: 264px;
  }
}

@keyframes sevenPourcent{
  0%{
    stroke-dashoffset: 440px;
  }
  100%{
    stroke-dashoffset: 176px;
  }
}

@keyframes heigtPourcent{
  0%{
    stroke-dashoffset: 440px;
  }
  100%{
    stroke-dashoffset: 132px;
  }
}

@keyframes ninePourcent{
  0%{
    stroke-dashoffset: 440px;
  }
  100%{
    stroke-dashoffset: 88px;
  }
}

@keyframes tenPourcent{
  0%{
    stroke-dashoffset: 440px;
  }
  100%{
    stroke-dashoffset: 44px;
  }
}
